.custom-img {
  background-image: url("../images/overlay-bg.jpg");
}

.text-highlight-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(214, 216, 229, 0.5) 0,
    rgba(214, 216, 229, 0.5) 100%
  );
  background-repeat: repeat-x;
}
.highlight-position {
  background-position-x: left;
  background-position-y: 1em;
  background-size: 1em 0.2em;
}
